<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaiThi">

        <!-- Man hinh chinh -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Chuc nang 1: Tinh chu vi va dien tich -->
        <activity android:name=".ChucNang1Activity" />

        <!-- Chuc nang 2: Danh sach tinh thanh pho -->
        <activity android:name=".ChucNang2Activity" />

        <!-- Chuc nang 3: Diem du lich Nha Trang -->
        <activity android:name=".ChucNang3Activity" />

        <!-- Chuc nang 4: Thong tin ca nhan -->
        <activity android:name=".ChucNang4Activity" />

    </application>

</manifest>